.container {
  width: 1000px;
}

.prefList {
  display: flex;
  flex-wrap: wrap;
}
.prefListItem {
  display: flex;
  margin: 2px 4px;
}

.button {
  padding: 5px 7px;
  &:hover {
    border-bottom: 5px #aea8ff;
    background-color: #aea8ff;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1023px) {
  /* TL */
  .container {
    width: 560px;
  }
}

@media screen and (max-width: 560px) {
  /* SP */
  .container {
    width: 330px;
  }
  .prefList {
    justify-content: space-between;
  }
}